<h1>Hồ sơ</h1>

<div class="container">
  <div class="form" [formGroup]="profileForm">
    <mat-form-field>
      <input matInput placeholder="Tên" autocomplete="off" formControlName="name" />
      <mat-error>Vui lòng nhập tên</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" autocomplete="off" formControlName="birthday" />
      <mat-error>Vui lòng chọn đúng định dạng ngày</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Số điện thoại" autocomplete="off" formControlName="phone" />
      <mat-error>Vui lòng nhập đúng số điện thoại</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Giới thiệu" rows="4" formControlName="bio"></textarea>
    </mat-form-field>

    <!-- Sử dụng form array để quản lý 1 danh sách các địa chỉ -->
    <ng-container formArrayName="addresses">
      <div class="addresses" *ngFor="let a of addresses.controls; let i = index">
        <mat-form-field class="address-input">
          <input matInput [placeholder]="'Địa chỉ ' + (i + 1)" [formControlName]="i" />
        </mat-form-field>

        <!-- Gọi hàm xóa địa chỉ nếu nó ko phải là địa chỉ cuối cùng -->
        <button *ngIf="i !== addresses.controls.length - 1" mat-mini-fab color="accent" (click)="removeAddress(i)">
          <mat-icon>remove</mat-icon>
        </button>

        <!-- Thêm địa chỉ -->
        <button *ngIf="i === addresses.controls.length - 1" mat-mini-fab color="primary" (click)="addAddress()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ng-container>

    <!-- Disable nút nếu profileForm ko hợp lệ -->
    <button mat-raised-button color="primary" class="btn-update" [disabled]="!profileForm.valid"
      (click)="updateProfile()">
      Cập nhật
    </button>
  </div>

  <div class="avatar">
    <img [src]="avatarUrl" alt="avatar" />
    <input #avatar type="file" accept="image/*" style="display: none" (change)="onFileChange($event)" />
    <button mat-raised-button (click)="avatar.click()" style="margin-top: 1rem">
      Thay đổi ảnh
    </button>
  </div>
</div>